<div data-mb-hidden="true" class="navbar bg-base-100 hidden lg:hidden fixed top-2 z-50 bg-white/30 backdrop-blur-3xl rounded-full sm:max-w-screen-sm md:max-w-screen-md">
  <div class="flex-1">
    <a href="#main" aria-label="Show main section" class="btn btn-ghost text-3xl bg-white/50 px-3">🏡</a>
    <div class="w-[2px] h-10 ml-2 bg-white/50"></div>
  </div>
  <div class="flex-none">
    <ul class="flex gap-2">
      <li class="btn btn-ghost bg-white/50 px-3">
        <a target="_blank" rel="noreferrer" data-umami-event="View Full CV (navbar)" aria-label="View Full CV (opens in a new tab)" href="https://drive.google.com/file/d/1O6txBTUq4da0pzRkSh9EadqEKCiClaXZ/view?usp=sharing" class="text-2xl">📄</a>
      </li>
      <li class="btn btn-ghost bg-white/50 px-3">
        <a href="mailto:mykyta.cherniavskyi1@gmail.com" rel="noreferrer" data-umami-event="Contact Me (navbar)" aria-label="Contact Me (opens in a new tab)" class="text-2xl">📫</a>
      </li>
    </ul>
  </div>
</div>